@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }

  :root {
    /* Primary Color */
    --color-primary-50: 250 245 255;
    --color-primary-100: 243 232 255;
    --color-primary-200: 233 213 255;
    --color-primary-300: 216 180 254;
    --color-primary-400: 192 132 252;
    --color-primary-500: 168 85 247;
    --color-primary-600: 147 51 234;
    --color-primary-700: 126 34 206;
    --color-primary-800: 107 33 168;
    --color-primary-900: 88 28 135;
    --color-primary-950: 59 7 100;

    .theme-gray {
      --color-primary-950: 3 7 18;
      --color-primary-800: 31 41 55;
      --color-primary-100: 243 244 246;
      --color-primary-700: 55 65 81;
      --color-primary-500: 107 114 128;
      --color-primary-50: 249 250 251;
      --color-primary-900: 17 24 39;
      --color-primary-600: 75 85 99;
      --color-primary-300: 209 213 219;
      --color-primary-200: 229 231 235;
      --color-primary-400: 156 163 175;
    }

    .theme-red {
      --color-primary-100: 254 226 226;
      --color-primary-50: 254 242 242;
      --color-primary-900: 127 29 29;
      --color-primary-400: 248 113 113;
      --color-primary-600: 220 38 38;
      --color-primary-700: 185 28 28;
      --color-primary-500: 239 68 68;
      --color-primary-200: 254 202 202;
      --color-primary-950: 69 10 10;
      --color-primary-800: 153 27 27;
      --color-primary-300: 252 165 165;
    }
    .theme-orange {
      --color-primary-500: 249 115 22;
      --color-primary-50: 255 247 237;
      --color-primary-600: 234 88 12;
      --color-primary-300: 253 186 116;
      --color-primary-400: 251 146 60;
      --color-primary-950: 67 20 7;
      --color-primary-100: 255 237 213;
      --color-primary-800: 154 52 18;
      --color-primary-900: 124 45 18;
      --color-primary-200: 254 215 170;
      --color-primary-700: 194 65 12;
    }
    .theme-yellow {
      --color-primary-800: 133 77 14;
      --color-primary-900: 113 63 18;
      --color-primary-500: 234 179 8;
      --color-primary-200: 254 240 138;
      --color-primary-950: 66 32 6;
      --color-primary-50: 254 252 232;
      --color-primary-400: 250 204 21;
      --color-primary-100: 254 249 195;
      --color-primary-700: 161 98 7;
      --color-primary-600: 202 138 4;
      --color-primary-300: 253 224 71;
    }
    .theme-green {
      --color-primary-100: 220 252 231;
      --color-primary-900: 20 83 45;
      --color-primary-50: 240 253 244;
      --color-primary-800: 22 101 52;
      --color-primary-200: 187 247 208;
      --color-primary-600: 22 163 74;
      --color-primary-500: 34 197 94;
      --color-primary-950: 5 46 22;
      --color-primary-700: 21 128 61;
      --color-primary-300: 134 239 172;
      --color-primary-400: 74 222 128;
    }
    .theme-teal {
      --color-primary-900: 19 78 74;
      --color-primary-400: 45 212 191;
      --color-primary-800: 17 94 89;
      --color-primary-600: 13 148 136;
      --color-primary-700: 15 118 110;
      --color-primary-100: 204 251 241;
      --color-primary-500: 20 184 166;
      --color-primary-300: 94 234 212;
      --color-primary-200: 153 246 228;
      --color-primary-950: 4 47 46;
      --color-primary-50: 240 253 250;
    }
    .theme-sky {
      --color-primary-900: 12 74 110;
      --color-primary-800: 7 89 133;
      --color-primary-100: 224 242 254;
      --color-primary-300: 125 211 252;
      --color-primary-400: 56 189 248;
      --color-primary-700: 3 105 161;
      --color-primary-200: 186 230 253;
      --color-primary-950: 8 47 73;
      --color-primary-500: 14 165 233;
      --color-primary-50: 240 249 255;
      --color-primary-600: 2 132 199;
    }
    .theme-blue {
      --color-primary-950: 23 37 84;
      --color-primary-200: 191 219 254;
      --color-primary-300: 147 197 253;
      --color-primary-500: 59 130 246;
      --color-primary-700: 29 78 216;
      --color-primary-100: 219 234 254;
      --color-primary-50: 239 246 255;
      --color-primary-400: 96 165 250;
      --color-primary-900: 30 58 138;
      --color-primary-600: 37 99 235;
      --color-primary-800: 30 64 175;
    }
    .theme-indigo {
      --color-primary-300: 165 180 252;
      --color-primary-400: 129 140 248;
      --color-primary-500: 99 102 241;
      --color-primary-950: 30 27 75;
      --color-primary-50: 238 242 255;
      --color-primary-100: 224 231 255;
      --color-primary-800: 55 48 163;
      --color-primary-200: 199 210 254;
      --color-primary-700: 67 56 202;
      --color-primary-900: 49 46 129;
      --color-primary-600: 79 70 229;
    }
    .theme-fuchsia {
      --color-primary-50: 253 244 255;
      --color-primary-100: 250 232 255;
      --color-primary-700: 162 28 175;
      --color-primary-400: 232 121 249;
      --color-primary-600: 192 38 211;
      --color-primary-900: 112 26 117;
      --color-primary-300: 240 171 252;
      --color-primary-500: 217 70 239;
      --color-primary-950: 74 4 78;
      --color-primary-800: 134 25 143;
      --color-primary-200: 245 208 254;
    }
    .theme-pink {
      --color-primary-950: 80 7 36;
      --color-primary-300: 249 168 212;
      --color-primary-600: 219 39 119;
      --color-primary-700: 190 24 93;
      --color-primary-800: 157 23 77;
      --color-primary-100: 252 231 243;
      --color-primary-400: 244 114 182;
      --color-primary-50: 253 242 248;
      --color-primary-900: 131 24 67;
      --color-primary-200: 251 207 232;
      --color-primary-500: 236 72 153;
    }
    .theme-rose {
      --color-primary-300: 253 164 175;
      --color-primary-200: 254 205 211;
      --color-primary-800: 159 18 57;
      --color-primary-700: 190 18 60;
      --color-primary-900: 136 19 55;
      --color-primary-950: 76 5 25;
      --color-primary-500: 244 63 94;
      --color-primary-400: 251 113 133;
      --color-primary-50: 255 241 242;
      --color-primary-100: 255 228 230;
      --color-primary-600: 225 29 72;
    }

    /* Secondary Color */
    --color-secondary-50: 250 250 250;
    --color-secondary-100: 244 244 245;
    --color-secondary-200: 228 228 231;
    --color-secondary-300: 212 212 216;
    --color-secondary-400: 161 161 170;
    --color-secondary-500: 113 113 122;
    --color-secondary-600: 82 82 91;
    --color-secondary-700: 63 63 70;
    --color-secondary-800: 39 39 42;
    --color-secondary-900: 24 24 27;
    --color-secondary-950: 9 9 11;
  }
}

html,
body {
  scroll-behavior: smooth;
}
