@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

body > div {
  height: 100%;
}
