@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: black;
    color: white;
  }
}
